.container {
  width: 100%;
  background: #f5f5f5;
  height: 100vh;
  padding: 1.5rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1.5rem;
  height: 100%;
}
.navigation {
  background: #000000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
  max-height: 100%;
}
.heading {
  padding: 60px 50px;
}
.navigation h2 {
  font-family: "Montserrat";
  letter-spacing: 0em;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  font-size: 2.25rem;
  line-height: 3.5rem;
}

.Links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  padding-left: 50px;
  gap: 1.8rem;
}
.Links li:nth-child(4) svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -3px;
}
.Links img,
.Links svg {
  width: 1.25rem;
  height: 1.25rem;
}
.Links li {
  display: flex;
  gap: 1rem;
  font-family: "Montserrat";
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  font-size: 1.15rem;
  line-height: 1.24rem;
}
.Links li:nth-child(1) {
  font-weight: 700;
}

.Links2 {
  color: #ffffff;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.Links2 li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  gap: 2rem;
  padding: 1rem 0;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 1rem;
  }
  .dashboard {
    grid-template-columns: 1.5fr 3.5fr;
  }
  .navigation {
    border-radius: 15px;
  }
  .heading {
    padding: 40px 20px;
  }
  .Links {
    padding-left: 20px;
    gap: 1.5rem;
  }
  .Links2 {
    display: none;
  }
  .contents {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 28% 40%;
    row-gap: 1rem;
    height: auto;
  }
  .options {
    height: 500px;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
  .navigation {
    display: none;
  }
}
